### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load, encoding="utf-8")
student_data = pd.read_csv(student_data_to_load, encoding="utf-8")

school_data.head()
student_data.head()

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head ()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
district_df = school_data_complete [["Student ID", "school_name", "reading_score", "math_score", "size", "budget"]]
district_df.head()

   Student ID        school_name  reading_score  math_score  size   budget
0           0  Huang High School             66          79  2917  1910635
1           1  Huang High School             94          61  2917  1910635
2           2  Huang High School             90          60  2917  1910635
3           3  Huang High School             67          58  2917  1910635
4           4  Huang High School             97          84  2917  1910635

In [3]:
district_df.describe()

         Student ID  reading_score    math_score          size        budget
count  39170.000000    39170.00000  39170.000000  39170.000000  3.917000e+04
mean   19584.500000       81.87784     78.985371   3332.957110  2.117241e+06
std    11307.549359       10.23958     12.309968   1323.914069  8.749987e+05
min        0.000000       63.00000     55.000000    427.000000  2.480870e+05
25%     9792.250000       73.00000     69.000000   1858.000000  1.081356e+06
50%    19584.500000       82.00000     79.000000   2949.000000  1.910635e+06
75%    29376.750000       91.00000     89.000000   4635.000000  3.022020e+06
max    39169.000000       99.00000     99.000000   4976.000000  3.124928e+06

In [4]:
district_df.count()

Student ID       39170
school_name      39170
reading_score    39170
math_score       39170
size             39170
budget           39170
dtype: int64

In [5]:
district_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [23]:

schools_df = district_df.groupby("school_name")
schools.head()

schools_comparison = schools_df.mean()
schools_df.mean()

#count schools
school_count = schools_df.groupby["school_name"].value_counts()
school_count

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [9]:
student_count = (district_df["Student ID"])
#district_df["Student ID"].value_counts()

TypeError: 'int' object is not callable

In [8]:
#Budget

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type